@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: Open Sans;
    scroll-behavior: smooth;
    transition: all .4s ease;
}

body::-webkit-scrollbar {
    width: 0.25vw;
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }
  
  body::-webkit-scrollbar-track:hover {
    background: #78797a;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #3d5585; 
    border-radius: 10px;
  }
  
  .scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #01143b; 
  }

#opener {
    background: radial-gradient( rgba(0, 0, 0, 0.1), rgb(0, 0, 0, 0.2) ), url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    height: 100vh;
}

.title {
    font-size: 15vw;
    font-family: 'Open Sans Pro', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.subtitle {
    font-size: 6vw;
    font-family: 'Open Sans Pro', sans-serif;
}

.subreddit-tag {
    font-size: 6vw;
    color: rgba(0,0,0,0.5);
}

.social-buttons {
    display: flex;
    flex-direction: horizontal;
}

.description {
    color : rgba(255, 255, 255, 0.7);
    text-align: left;
    width: 50%;
    margin: 2%;
}

#meetups {
    background: radial-gradient( rgba(0, 0, 0, 0.1), rgb(0, 0, 0, 0.2) ), url('img/meetups.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}
